
.Second {
  
  background-image: url('/public/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;

  padding: 100px 0;
  height:450px ;
 
}
.our-service{
  width: 200px;
  
}

.service-item {
  margin-bottom: 30px;
  width: 200px;
}



